<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/staking/">Staking</a> - <a href="<%= PP %>/snowball_staking/">Instructions</a> - <a href="<%= PP %>/faq/">FAQ</a>
</div>

<h2>Welcome to Snowball Finance</h2>
<h3>Total Value Locked: $724k+</h3>

Deposit LP tokens on the <b><a href="<%= PP %>/staking/">Staking</a> </b>page for automatic compounding.

Stake Snowglobe (sPGL) tokens to earn governance tokens.


<img height='300' src='https://miro.medium.com/max/500/1*eGDrj7mNJEo8frEeNWOohA.gif'>

<b>Contracts</b>
SnowGlobe AVAX-SUSHI: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x751089F1bf31B13Fa0F0537ae78108088a2253BF/contracts">https://cchain.explorer.avax.network/address/0x751089F1bf31B13Fa0F0537ae78108088a2253BF/contracts</a>
SnowGlobe AVAX-PNG: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x621207093D2e65Bf3aC55dD8Bf0351B980A63815/contracts">https://cchain.explorer.avax.network/address/0x621207093D2e65Bf3aC55dD8Bf0351B980A63815/contracts</a>
IceQueen: <a target="_blank" href="https://cchain.explorer.avax.network/address/0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375/contracts">https://cchain.explorer.avax.network/address/0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375/contracts</a>

<b>Tokens</b>
Snowball (SNOB): <a target="_blank" href="https://info.pangolin.exchange/#/token/0xc38f41a296a4493ff429f1238e030924a1542e50">https://info.pangolin.exchange/#/token/0xc38f41a296a4493ff429f1238e030924a1542e50</a>


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<a href="https://twitter.com/throwsnowballs" target="_blank">Twitter</a> - <a href="discord.gg/T35jZ2hhPZ" target="_blank">Discord</a> - <a href="https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2" target="_blank">Medium</a> - <a href="https://t.me/throwsnowballs" target="_blank">Telegram</a> 
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
</body>
</html>
