<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
    if (window.localStorage.getItem('snowballDarkmode') == 'true') {
        document.body.classList.add('dark-mode');
    }
</script>
<body>
<pre class="container">
<div class="header-nav">
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/snowglobes/">Snowglobes</a> - <a href="<%= PP %>/icequeen/">IceQueen</a> - <a href="<%= PP %>/faq/">FAQ</a> - <span class="toggle-background" href="#" onclick="document.body.classList.remove('dark-mode');window.localStorage.setItem('snowballDarkmode',false);">☀️ / </span><span class="toggle-background" href="#" onclick="document.body.classList.add('dark-mode');window.localStorage.setItem('snowballDarkmode',true);">🌙</span>
</div>

<img height='165' src='https://media.discordapp.net/attachments/818991928951439371/819558822687408138/image1.jpg?width=1260&height=630'>

<h2>Total Value Locked: $13.7M+</h2>

<b><a target="_blank" href="https://app.pangolin.exchange/#/swap?inputCurrency=0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7&outputCurrency=0xc38f41a296a4493ff429f1238e030924a1542e50">Buy $SNOB</a></b>

Deposit LP tokens on the <b><a href="<%= PP %>/snowglobes/">Snowglobes</a> </b>page for automatic compounding.

Stake Snowglobe (sPGL) tokens on the <a href="<%= PP %>/icequeen/">IceQueen</a> page to earn governance tokens.


<img height='190' src='https://miro.medium.com/max/500/1*eGDrj7mNJEo8frEeNWOohA.gif'>

<b>Tokens</b>
Snowball (SNOB): <a target="_blank" href="https://info.pangolin.exchange/#/token/0xc38f41a296a4493ff429f1238e030924a1542e50">https://info.pangolin.exchange/#/token/0xc38f41a296a4493ff429f1238e030924a1542e50</a>

<b>Contracts</b>
IceQueen: <a target="_blank" href="https://cchain.explorer.avax.network/address/0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375/contracts">https://cchain.explorer.avax.network/address/0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375/contracts</a>
Snowball: <a target="_blank" href="https://cchain.explorer.avax.network/address/0xC38f41A296A4493Ff429F1238e030924A1542e50/contracts">https://cchain.explorer.avax.network/address/0xC38f41A296A4493Ff429F1238e030924A1542e50/contracts</a>
Controller: <a target="_blank" href="https://cchain.explorer.avax.network/address/0xf7B8D9f8a82a7a6dd448398aFC5c77744Bd6cb85/contracts">https://cchain.explorer.avax.network/address/0xf7B8D9f8a82a7a6dd448398aFC5c77744Bd6cb85/contracts</a>
SnowGlobe AVAX-ETH: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x586554828eE99811A8ef75029351179949762c26/contracts">https://cchain.explorer.avax.network/address/0x586554828eE99811A8ef75029351179949762c26/contracts</a>
SnowGlobe AVAX-PNG: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x621207093D2e65Bf3aC55dD8Bf0351B980A63815/contracts">https://cchain.explorer.avax.network/address/0x621207093D2e65Bf3aC55dD8Bf0351B980A63815/contracts</a>
SnowGlobe AVAX-SUSHI: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x751089F1bf31B13Fa0F0537ae78108088a2253BF/contracts">https://cchain.explorer.avax.network/address/0x751089F1bf31B13Fa0F0537ae78108088a2253BF/contracts</a>
SnowGlobe AVAX-LINK: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x00933c16e06b1d15958317C2793BC54394Ae356C/contracts">https://cchain.explorer.avax.network/address/0x00933c16e06b1d15958317C2793BC54394Ae356C/contracts</a>
Strategy AVAX-ETH: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x953853590b805A0E885A75A3C786D2aFfcEEA3Cf/contracts">https://cchain.explorer.avax.network/address/0x953853590b805A0E885A75A3C786D2aFfcEEA3Cf/contracts</a>
Strategy AVAX-PNG: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x6A803904b9eA0Fc982fBB077c7243c244Ae05a2d/contracts">https://cchain.explorer.avax.network/address/0x6A803904b9eA0Fc982fBB077c7243c244Ae05a2d/contracts</a>
Strategy AVAX-SUSHI: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x14ec55f8B4642111A5aF4f5ddc56B7bE867eB6cC/contracts">https://cchain.explorer.avax.network/address/0x14ec55f8B4642111A5aF4f5ddc56B7bE867eB6cC/contracts</a>
Strategy AVAX-LINK: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x974Ef0bDA58C81F3094e124f530eF34fe70dc103/contracts">https://cchain.explorer.avax.network/address/0x974Ef0bDA58C81F3094e124f530eF34fe70dc103/contracts</a>


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<a href="https://twitter.com/throwsnowballs" target="_blank">Twitter</a> - <a href="https://discord.gg/T35jZ2hhPZ" target="_blank">Discord</a> - <a href="https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2" target="_blank">Medium</a> - <a href="https://t.me/throwsnowballs" target="_blank">Telegram</a> - <a href="https://snowballs.gitbook.io/snowball-docs/" target="_blank">Docs</a> 
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
</body>
</html>
