<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/staking/">Staking</a> - <a href="<%= PP %>/snowball_staking/">Instructions</a> - <a href="<%= PP %>/faq/">FAQ</a>
</div>

<h3>Welcome to Snowball Finance</h3>

This is a tool for interacting with the Snowball Finance smart contracts.

Stake your LP tokens from Pangolin Exchange on the <b><a href="<%= PP %>/snowball_staking/">Staking</a> </b>page to earn Snowball token rewards.

<img height='300' src='https://miro.medium.com/max/500/1*eGDrj7mNJEo8frEeNWOohA.gif'>

<b>Contracts</b>
SnowGlobe: <a target="_blank" href="https://cchain.explorer.avax.network/address/0x751089F1bf31B13Fa0F0537ae78108088a2253BF/contracts">https://cchain.explorer.avax.network/address/0x751089F1bf31B13Fa0F0537ae78108088a2253BF/contracts</a>
IceQueen: <a target="_blank" href="https://cchain.explorer.avax.network/address/0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375/contracts">https://cchain.explorer.avax.network/address/0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375/contracts</a>

<b>Tokens</b>
Snowball (SNOB): <a target="_blank" href="https://info.pangolin.exchange/#/token/0xc38f41a296a4493ff429f1238e030924a1542e50">https://info.pangolin.exchange/#/token/0xc38f41a296a4493ff429f1238e030924a1542e50</a>


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<a href="https://twitter.com/AbominableSas" target="_blank">Twitter</a> - <a href="https://discord.com/channels/812557591917887508/" target="_blank">Discord</a> - <a href="https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2" target="_blank">Medium</a>
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
</body>
</html>
