<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/snowglobes/">Snowglobes</a> - <a href="<%= PP %>/icequeen/">IceQueen</a> - <a href="<%= PP %>/faq/">FAQ</a>
</div>
<%- include(`${partials}/quick`); -%>