<head>
    <meta charset="UTF-8">
    <!-- Primary Meta Tags -->
    <title>Snowball Finance</title>
    <meta name="title" content="Snowball Finance">
    <meta name="description" content="❄️ Yield Farming Optimizer">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://snowballfinance.info/">
    <meta property="og:title" content="Snowball Finance">
    <meta property="og:description" content="❄️ Yield Farming Optimizer">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://snowballfinance.info/">
    <meta property="twitter:title" content="Snowball Finance">
    <meta property="twitter:description" content="❄️ Yield Farming Optimizer">
    <meta property=twitter:image content="https://media.discordapp.net/attachments/818991928951439371/819398193980243998/image0.jpg">
    
    <% if(filenameMap) { %>
        <link rel="stylesheet" href="<%= PP %>/css/<%= filenameMap['index.css'] %>">
        <link rel="preload" href="<%= PP %>/js/<%= filenameMap['vendor.js'] %>" as="script">
        <link rel="prefetch" href="<%= PP %>/js/<%= filenameMap['vendor.js'] %>">
        <link rel="preload" href="<%= PP %>/js/<%= filenameMap['app.js'] %>" as="script">
        <link rel="prefetch" href="<%= PP %>/js/<%= filenameMap['app.js'] %>">
    <% } else { %>
        <link rel="stylesheet" href="<%= PP %>/css/index.css">
        <link rel="preload" href="<%= PP %>/js/vendor.js" as="script">
        <link rel="prefetch" href="<%= PP %>/js/vendor.js">
        <link rel="preload" href="<%= PP %>/js/app.js" as="script">
        <link rel="prefetch" href="<%= PP %>/js/app.js">
    <% } %>

    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="<%= PP %>/favicon.svg">
    <link rel="apple-touch-icon" href="<%= PP %>/apple-touch-icon.png">
    <link rel="manifest" href="<%= PP %>/manifest.json">
</head>
<%- include(`${partials}/quick`); -%>