<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/staking/">Staking</a> - <a href="<%= PP %>/snowball_staking/">Instructions</a> - <a href="<%= PP %>/faq/">FAQ</a>
</div>
<%- include(`${partials}/quick`); -%>